In [44]:
import pandas as pd 
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns

## Loadind Data 
Loading the Pre Processed Data 
Train, Test and combined Raw Data

In [69]:
Train = pd.read_csv("TrainData.csv",index_col=0)
Test = pd.read_csv("TestData.csv",index_col=0)
Raw = pd.read_csv("RawData.csv",index_col=0)
Train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,GroupNo,TicketChar,TicketNumbers,TicketNumbers_Nor,Cabin_Charcter,Fare_Nor,AgeMean_Nor,AgeMedian_Nor,AgeNormal_Nor,GroupNo_Nor
1,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,2,A5,21171,0.006825,U,0.014151,0.271174,0.271174,0.271174,0.1
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,2,PC,17599,0.005674,C,0.139136,0.472229,0.472229,0.472229,0.1
3,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,1,STONO2,3101282,0.999989,U,0.015469,0.321438,0.321438,0.321438,0.0
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,2,U,113803,0.036694,C,0.103644,0.434531,0.434531,0.434531,0.1
5,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,1,U,373450,0.120416,U,0.015713,0.434531,0.434531,0.434531,0.0

Print the Column's Names

In [68]:
columnNames = list(Train.head(0)) 
print(columnNames)

['PassengerId', 'Survived', 'SibSp', 'Parch', 'Fare', 'Sexb', 'AgeMean', 'AgeMedian', 'AgeNormal', 'Isalone', 'GroupNo', 'TicketNumbers', 'TicketNumbers_Nor', 'Fare_Nor', 'AgeMean_Nor', 'AgeMedian_Nor', 'AgeNormal_Nor', 'GroupNo_Nor', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'Title_Army', 'Title_Dr.', 'Title_Master', 'Title_Miss', 'Title_Mr.', 'Title_Mrs', 'Title_Rev.', 'Cabin_Charcter_A', 'Cabin_Charcter_B', 'Cabin_Charcter_C', 'Cabin_Charcter_D', 'Cabin_Charcter_E', 'Cabin_Charcter_F', 'Cabin_Charcter_G', 'Cabin_Charcter_U', 'TicketChar_A4', 'TicketChar_A5', 'TicketChar_AS', 'TicketChar_C', 'TicketChar_CA', 'TicketChar_CASOTON', 'TicketChar_FC', 'TicketChar_FCC', 'TicketChar_Fa', 'TicketChar_LINE', 'TicketChar_PC', 'TicketChar_PP', 'TicketChar_PPP', 'TicketChar_SC', 'TicketChar_SCA4', 'TicketChar_SCAH', 'TicketChar_SCAHBasle', 'TicketChar_SCOW', 'TicketChar_SCPARIS', 'TicketChar_SCParis', 'TicketChar_SOC', 'TicketChar_SOP', 'TicketChar_SOPP', 'TicketChar_SOTONO2', 'TicketChar_SOTONOQ', 'TicketChar_SP', 'TicketChar_STONO2', 'TicketChar_SWPP', 'TicketChar_U', 'TicketChar_WC', 'TicketChar_WEP', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Embarked_U']

## Create dummy variables
Create dummy variables from all categorical variables

In [70]:
cat_vars=['Pclass','Sex','Title','Cabin_Charcter','TicketChar','Embarked']
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(Train[var], prefix=var)
    Train1 = pd.concat([Train, cat_list] , axis=1)
    #Train1=Train.join(cat_list)
    Train=Train1
cat_vars=['Pclass','Sex','Title','Cabin_Charcter','TicketChar','Embarked','Name','Ticket','Cabin','Age','Sexb']
data_vars=Train.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]
Train.shape

(891, 83)

In [71]:
Train=Train[to_keep]
Train.columns.values

array(['PassengerId', 'Survived', 'SibSp', 'Parch', 'Fare', 'AgeMean',
       'AgeMedian', 'AgeNormal', 'Isalone', 'GroupNo', 'TicketNumbers',
       'TicketNumbers_Nor', 'Fare_Nor', 'AgeMean_Nor', 'AgeMedian_Nor',
       'AgeNormal_Nor', 'GroupNo_Nor', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male', 'Title_Army', 'Title_Dr.',
       'Title_Master', 'Title_Miss', 'Title_Mr.', 'Title_Mrs',
       'Title_Rev.', 'Cabin_Charcter_A', 'Cabin_Charcter_B',
       'Cabin_Charcter_C', 'Cabin_Charcter_D', 'Cabin_Charcter_E',
       'Cabin_Charcter_F', 'Cabin_Charcter_G', 'Cabin_Charcter_U',
       'TicketChar_A4', 'TicketChar_A5', 'TicketChar_AS', 'TicketChar_C',
       'TicketChar_CA', 'TicketChar_CASOTON', 'TicketChar_FC',
       'TicketChar_FCC', 'TicketChar_Fa', 'TicketChar_LINE',
       'TicketChar_PC', 'TicketChar_PP', 'TicketChar_PPP',
       'TicketChar_SC', 'TicketChar_SCA4', 'TicketChar_SCAH',
       'TicketChar_SCAHBasle', 'TicketChar_SCOW', 'TicketChar_SCPARIS',
       'TicketChar_SCParis', 'TicketChar_SOC', 'TicketChar_SOP',
       'TicketChar_SOPP', 'TicketChar_SOTONO2', 'TicketChar_SOTONOQ',
       'TicketChar_SP', 'TicketChar_STONO2', 'TicketChar_SWPP',
       'TicketChar_U', 'TicketChar_WC', 'TicketChar_WEP', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Embarked_U'], dtype=object)

In [76]:
X = Train.loc[:, Train.columns != 'Survived']
y = np.ravel(Train.loc[:, Train.columns == 'Survived'])
from imblearn.over_sampling import SMOTE
os = SMOTE(random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
columns = X_train.columns
os_data_X,os_data_y=os.fit_sample(X_train, y_train)
os_data_X = pd.DataFrame(data=os_data_X,columns=columns )
os_data_y= pd.DataFrame(data=os_data_y,columns=['y'])
# we can Check the numbers of our data
print("length of oversampled data is ",len(os_data_X))
print("Number of no subscription in oversampled data",len(os_data_y[os_data_y['y']==0]))
print("Number of subscription",len(os_data_y[os_data_y['y']==1]))
print("Proportion of no subscription data in oversampled data is ",len(os_data_y[os_data_y['y']==0])/len(os_data_X))
print("Proportion of subscription data in oversampled data is ",len(os_data_y[os_data_y['y']==1])/len(os_data_X))
Train.head()

length of oversampled data is  762
Number of no subscription in oversampled data 381
Number of subscription 381
Proportion of no subscription data in oversampled data is  0.5
Proportion of subscription data in oversampled data is  0.5

,PassengerId,Survived,SibSp,Parch,Fare,AgeMean,AgeMedian,AgeNormal,Isalone,GroupNo,...,TicketChar_SP,TicketChar_STONO2,TicketChar_SWPP,TicketChar_U,TicketChar_WC,TicketChar_WEP,Embarked_C,Embarked_Q,Embarked_S,Embarked_U
1,1,0,1,0,7.2500,22.0,22.0,22.0,0,2,...,0,0,0,0,0,0,0,0,1,0
2,2,1,1,0,71.2833,38.0,38.0,38.0,0,2,...,0,0,0,0,0,0,1,0,0,0
3,3,1,0,0,7.9250,26.0,26.0,26.0,1,1,...,0,1,0,0,0,0,0,0,1,0
4,4,1,1,0,53.1000,35.0,35.0,35.0,0,2,...,0,0,0,1,0,0,0,0,1,0
5,5,0,0,0,8.0500,35.0,35.0,35.0,1,1,...,0,0,0,1,0,0,0,0,1,0